<div class="row">
    <div class="twelve columns">
        <pre>{{ payload }}</pre>
    </div>
</div>
<div class="row">
    <div class="two columns"></div>
    <div class="eight columns">
        <a class="button" href="{{ href }}">Plaintext</a>
        <a class="button" href="{{ href_b64 }}">Base64 bash</a>
        <a class="button" href="{{ href_enc }}">URL Encoded</a>
        <a class="button" href="{{ href_both }}">Base64 and URL Encoded</a>
    </div>
    <div class="two columns"></div>
</div>
<br />